@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Open+Sans');
body {
    background-color: #48A9A6;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
    font-family: 'Bowlby One SC', cursive;
    color: #E4DFDA;
}
h4, p, li {
    font-family: 'Open Sans', sans-serif;
    color: #E4DFDA;
}

#intro {
    background-color: #48A9A6;
}

.contain {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
    margin: 0;
}
.title {
    font-size: 5em;
    margin-bottom: .2em;
    margin-top: .2em;
}
.sub-header {
    font-size: 2em;
    margin-top: .2em;
    margin-bottom: .2em;
}

.section-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}
